<div class="container mt-5">
  <div class="d-flex flex-column align-items-center border border-primary p-5 justify-content-center">
    <h1>New Game</h1>
    <br>
    <h3><%= @letters.join(' - ') %></h3>
    <div class="m-3 d-flex flex-column justify-content-center ">
      <form action="/score" class="text-center">
        <input type="text" name="word" placeholder="Your word">
        <div class="d-flex justify-content-center align-items-center mt-3">
          <button type="submit" class="btn btn-primary">Go</button>
        </div>
      </form>
    </div>
  </div>
</div>
